    <div class="container">
        <div class="row">
            <h1>Have some Burgers</h1>
        </div>
        <div class="row">
            {{#each burger_data}}
            {{#unless this.devoured}}
            <div>{{this.id}}. {{this.burger_name}}</div>
        </div>
        <div>
            <form method="POST" action="/burger/updateOne">
                <input type="hidden" type = "text" name="burger_id" value={{this.id}}>

                <button type = "submit" class="btn">Devour?</button>
            </form>
        </div>
        {{/unless}}
        {{/each}}
        <div class="row">
            <div class="col-6">
                <form action="/burger/insertOne" method="POST">
                    <input type="text" name = "burger_name" value = "" id = "enter_text">
                    <button type = "submit" class = "btn" id = "text-enter-button"></button>
                </form>
                <h6>What would you like to eat?</h6>
            </div>
        </div>
        <div>
            <div class="col">
                {{#each burger_data}}
                  {{#if this.devoured}}
                    <input class="form-control" type="text" placeholder=
                      "{{this.id}}. {{this.burger_name}}" readonly>
                        {{/if}}
                      {{/each}}
                      <br>
          
              </div>
        </div>
    </div>